.home-content {
    max-width: 1140px;
    margin: 0 auto;

    &__img {
        padding-top: 100%;
        position: relative;

        img {
            padding: 1rem;
            position: absolute;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__slogan {
        margin: 0 auto 3rem;
        text-align: center;

        h1 {
            font-family: 'Handlee', cursive;
            font-size: 2.8rem;
            font-style: italic;
            color: #6f6262;
            font-weight: normal;
            margin: 2rem 0;
        }

        &__avatar {
            @include flex(center, center);
            gap: 2rem;

            img {
                width: 60px;
                object-fit: cover;
                height: 60px;
                border-radius: 50%;
            }

            p {
                font-family: 'Handlee', cursive;
                font-size: 1.6rem;
                color: #6f6262;
                font-weight: 600;
            }
        }
    }

    &__knowledge{
        h5{
            font-size: 1.3rem;
            text-transform: uppercase;
            color: #5b441e;
            font-family: Tahoma;
            letter-spacing: 2px;
            margin-bottom: 2.8rem;
        }

        li{
            color: #8b8b8b;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            margin-left: 1.6rem;
        }
    }
}